* {
    margin: 0;
    /* font-family: 'MedievalSharp', cursive; */
    font-family: 'Yusei Magic', sans-serif;
}

body {
    background-color: #1a1e3e;
    background-image: url("../images/bg-img.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}


.container {
    
    /* margin: 10px auto 10px auto; */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #EEEDDE;
    color: #EEEDDE;
    margin-top: 50px;
    
}

.houseBox {
    letter-spacing:5px;
    padding: 8px;
    border: 3px solid #EEEDDE;
    width: 20%;
    height: 850px;
    margin-top: 3%;
    margin-right: 2%;
    
}

.houseBox ul {
    width: 300px;
}

.houseInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 20px solid white; */
}

.houseInfo img {
    max-width:55%;
    height:auto;
    align-self: center;
    margin-bottom: 15px;

}


.houseInfo li {
    font-size: 1vmax;
    align-self: center;
    list-style: none;
    padding: 5px;
    margin: 10px;
}

.houseInfo h1 {
    font-size: 1.5vmax;
    align-self: center;
    color: #b8cff7;
    font-weight: 900;
}



.playerBox {
    letter-spacing:5px;
    padding: 8px;
    border: 3px solid #EEEDDE;
    width: 20%;
    height: 850px;
    margin-top: 3%;
    margin-left: 2%;
}

.playerBox ul {
    margin-top: 20px;
    list-style: none;
}

.playerInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 20px solid white; */
}

.playerInfo img {

    max-width:120%;
    height:auto;
    align-self: center;
    margin-bottom: 15px;
    
}

.playerInfo li {
    font-size: 1vmax;
    align-self: center;
    list-style: none;
    padding: 5px;
    margin: 10px;
   
}

.playerInfo h1 {
    
    font-size: 1.5vmax;
    align-self: center;
    color: white;
    
}

.playerInfo h1:hover {
    
    color: #b8cff7;
}

.duelCommentary {
    font-size: 1vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 4px solid #EEEDDE; */
    margin: 10px auto;
    padding-top: 15px;
    margin-top: 100px;
    width: 95.5%;
    height: 110px;

} 

/* .duelCommentary > p {
font-size: 0.8vmax;
} */

/* .duelOrientations{
    font-size: 10px;
    color: red;
} */

 /* #duelOrientarions{
    font-size: 0.5vmax;
    
} */

     /* .duelStart h2 {
    margin: 20px;
}  */

.playerSpells {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 4px solid #EEEDDE; */
    margin: 10px auto;
    width: 95.5%;
    height: 160px;
    
}

.spellsBtn {
    font-size: 1.2vmax;
    margin: 4px;
    border: 2px dashed #EEEDDE;
    background-color: #1b1e3f;
    color: #EEEDDE;
    border: #6e5ec4 dotted 2px;
    width: 15%;
    height: 30%;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spellsBtn:hover{
    cursor: pointer;
    background-color: #2865af;
}

.btnPlay {
    font-size: 1.8em;
    margin: 4px;
    border: 2px solid #EEEDDE;
    background-color: #2865af;
    color: #EEEDDE;
    width: 15%;
    height: 50%;
    /* text-decoration : none; */
    border-radius: 12px;
    opacity: 2;

}

.btnPlay:hover{
    cursor: pointer;
    background-color: #56507b;
}

.btnReset:hover{
    cursor: pointer;
    background-color: #56507b;
}

.btnReset {
    font-size: 1.8em;
    margin: 4px;
    border: 2px solid #EEEDDE;
    background-color: #2865af;
    color: #EEEDDE;
    width: 15%;
    height: 50%;
    /* text-decoration: none; */
    border-radius: 12px;
}

.displayNone {
    display: none;
}

.footer {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.footer li {
    list-style: none;
    
    
}

/* .footer img {
    width: 40px;
    height: 40px;
} */

.footer button {
    font-size: 16px;
    text-decoration: none;
    margin: 10px;
    background-color: transparent;
    color: #EEEDDE;
    border: #6e5ec4 dotted 2px;
    margin-bottom: 20px;
    width:90px;
    height: 50px;
    
    
}

.footer button:hover{
    cursor: pointer;
    background-color: #1e2245;
}

.footer a {
    font-size: 16px;
    text-decoration: none;
    color: #EEEDDE;
}

@media (max-width: 1000px) {

    body{
        background-image: none;
    }

    .playerBox{
        width: 88%;
        letter-spacing: 1px;
        height: 150px;
        margin-left: 2.5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .playerInfo {
        display: flex;
        flex-direction: row;
        border: 2px solid red;
        align-items: center;
        justify-content: flex-start;
    }
    
    .playerInfo img {
    max-width:30%;
    height:auto;
    margin-bottom: 15px;
    margin-top: 20px;
    }

    .playerInfo h1 {
    
    font-size: 2vmax;
    align-items: center;
            
    }

    .houseBox{
        width: 88%;
        letter-spacing: 1px;
        height: 150px;
        margin-left: 2.5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .houseInfo {
        
        display: flex;
        flex-direction: row;
        border: 2px solid red;
        align-items: center;
        justify-content: flex-start;
        /* border: 20px solid white; */
    }

    .houseInfo img {
    max-width:15%;
    height:auto;
    margin-bottom: 15px;
    margin-top: 20px;
    }

    .houseInfo h1 {
    font-size: 2vmax;
    align-items: center;
    }

     .duelCommentary {
        width: 92%;
        margin-left: 3%;
        margin-top: 10px;
        height: 80px;
    } 

    .playerSpells {
        width: 90%;
        height: 90px;
        font-size: 1vmax;
    }

    .spellsBtn {
    font-size: 1vmax;
    width: 25%;
    height: 30%;
    
    }

    .btnPlay {
        width: 20%;
    }

    .btnReset {
        width: 20%;
    }

    .footer {
        font-size: 10px;
        width: 250px;
        height: 60px;
        margin: 0px;
    }

    
}