* {
    margin: 0;
    /* font-family: 'MedievalSharp', cursive; */
    font-family: 'Yusei Magic', sans-serif;
}

body {
    background-color: #1a1e3e;
    background-image: url("../images/bg-img.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}


.container {
    
    /* margin: 10px auto 10px auto; */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #EEEDDE;
    color: #EEEDDE;
    margin-top: 50px;
    
}

.houseBox {
    letter-spacing:5px;
    padding: 8px;
    border: 3px solid #EEEDDE;
    width: 20%;
    height: 850px;
    margin-top: 3%;
    margin-right: 2%;
    
}

.houseBox ul {
    width: 300px;
}

.houseInfo {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
}

.houseInfo img {
    margin: 5px;
    margin-left: 10px;
    min-width: 100px;
    width: 160px;
    /* border: 3px solid #EEEDDE; */

}


.houseInfo li {
    font-size: 1vmax;
    display: inline-block;
    list-style: none;
    padding: 5px;
    margin: 10px;
}

.houseInfo h1 {
    width: 200px;
    font-size: 2.5vmax;
}



.playerBox {
    letter-spacing:5px;
    padding: 8px;
    border: 3px solid #EEEDDE;
    width: 20%;
    height: 850px;
    margin-top: 3%;
    margin-left: 2%;
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column; */
}

.playerBox ul {
    /* width: 350px; */
    display:flex;
    justify-content: flex-start;
    margin-top: 20px;
    list-style: none;
}

.playerInfo {
    
    align-items: center;
    justify-content: flex-start;
    flex-flow: wrap;
}

.playerInfo img {

    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    /* margin: 10px; */
   
    /* margin: 16px;
    min-width: 100px;
    width: 160px; */
    /*   */
}

.playerInfo li {
    font-size: 1vmax;
    
    
    /* display: inline-block;
    list-style: none; */
    /* padding: 5px;
    margin: 10px; */
}

.playerInfo h1 {
    
    font-size: 2.5vmax;
}

.playerInfo h1:hover {
    
    color: #b8cff7;
}

/* .scoreboardContainer {
    font-size: 1vmax;
    position: absolute;
    top: 100px;
    margin-top: -200;
    margin-left: 2%;
} */
     .duelStart {
    font-size: 1vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 4px solid #EEEDDE; */
    margin: 10px auto;
    padding-top: 15px;
    margin-top: 100px;
    width: 95.5%;
    height: 110px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 42.5%;
    height: 100px;
    /* margin-left: 55%;
    margin-top: -109px; */

} 

     /* .duelStart h2 {
    margin: 20px;
}  */

.playerSpells {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 4px solid #EEEDDE; */
    margin: 10px auto;
    width: 95.5%;
    height: 160px;
    
}

.spellsBtn {
    font-size: 1.2vmax;
    margin: 4px;
    border: 2px dashed #EEEDDE;
    background-color: #1b1e3f;
    color: #EEEDDE;
    border: #6e5ec4 dotted 2px;
    width: 15%;
    height: 30%;
    text-decoration: none;
    border-radius: 10px;
}

.spellsBtn:hover{
    cursor: pointer;
    background-color: #2865af;
}

.btnPlay {
    font-size: 1.8em;
    margin: 4px;
    border: 2px solid #EEEDDE;
    background-color: #2865af;
    color: #EEEDDE;
    width: 15%;
    height: 50%;
    /* text-decoration : none; */
    border-radius: 12px;
    opacity: 2;

}

.btnPlay:hover{
    cursor: pointer;
    background-color: #56507b;
}

.btnReset:hover{
    cursor: pointer;
    background-color: #56507b;
}

.btnReset {
    font-size: 1.8em;
    margin: 4px;
    border: 2px solid #EEEDDE;
    background-color: #2865af;
    color: #EEEDDE;
    width: 15%;
    height: 50%;
    /* text-decoration: none; */
    border-radius: 12px;
}

.displayNone {
    display: none;
}

.footer {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.footer li {
    list-style: none;
    
    
}

.footer img {
    width: 40px;
    height: 40px;
}

.footer button {
    font-size: 16px;
    text-decoration: none;
    margin: 10px;
    background-color: transparent;
    color: #EEEDDE;
    border: #6e5ec4 dotted 2px;
    width:90px;
    height: 50px;
    
    
}

.footer button:hover{
    cursor: pointer;
    background-color: #1e2245;
}

.footer a {
    font-size: 16px;
    text-decoration: none;
    color: #EEEDDE;
}

@media (max-width: 1000px) {

    body{
        background-image: none;
    }

    .playerBox{
        width: 88%;
        letter-spacing: 1px;
        height: 150px;
        margin-left: 2.5%;
    }
    
    .playerInfo img {
        min-width: 70px;
        margin: 2px;
    }

    .houseBox{
        width: 88%;
        letter-spacing: 1px;
        height: 150px;
        margin-left: 2.5%;
    }
    
    .houseInfo img {
        min-width: 70px;
        margin: 2px;
    }

    /* .scoreboardContainer {
        top: 195px;
    }  */

     .duelStart {
        width: 92%;
        margin-left: 3%;
        margin-top: 10px;
        height: 80px;
    } 

    .playerSpells {
        width: 92%;
        height: 80px;
    }

    .btnPlay {
        width: 40%;
    }

    .btnReset {
        width: 40%;
    }

    .footer {
        font-size: 10px;
        width: 250px;
        height: 60px;
        margin: 0px;
    }

    
}